
<div class="d-flex justify-content-center">

    <div class="card" style="width: 18rem;">
        <img src="../../../{{heroe.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nombre: <small>{{heroe.nombre|uppercase}}</small></h5>
          <p class="card-text">Casa: <small>{{heroe.aparicion}}</small></p>
          <p class="card-text">Biografia: <small>{{heroe.bio}}</small></p>
          <p class="card-text">Aparicion del personaje: <small>{{heroe.aparicion}}</small></p>
        </div>
        <a [routerLink]="['/heroes']" class="btn btn-outline-primary btn-block">Regresar a heroes</a>
      </div>

</div>
